body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
/* header */
.burgermenu {
    width: 170px;
    color: #fff;
    margin-left: 2rem;
}
.burgermenu, .burgermenu a {
    color: #fff;
}
header {
    background-color: #181818;
    padding: 1rem;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
header nav .burgermenu i {
    font-size: 3rem;
}
header ul a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    display: block;
    margin-top: 1.8rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1rem;
}
header nav #nav-btn a {
    background-color: #BD8276;
    padding: .5rem 1rem;
    margin-top: 2.23rem;
    border-radius: 5px;
}
/* end of header */

/* MAIN */
/* hero section */
main section.hero {
    height: 100vh;
    margin-top: 0;
    padding-top: 15rem;
    background: url(./Images/nsplsh_616c533765775134314d38_mv2_d_5847_3898_s_4_2.jpg);
    background-position: center;
    background-size: cover;
}
main section.hero div h1 {
    text-align: center;
    font-size: 4rem;
    color: #BD8276;
    font-family: "San Serif";
    font-weight: 600;
}
/* end of hero section */

/* visionary section */
main section.visionary {
    background-color: #BD8276;
}
main section.visionary .visionary-div  {
    display: flex;
    justify-content: center;
    background-color: #BD8276;
    width: 95%;
    margin: 0 auto;
}
main section.visionary .info {
    background-color: #181818;
    color: #fff;
    padding:3rem;
    width: 629px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
main section.visionary .info h3 {
    color: #BD8276;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    font-family: "San Serif";
    font-weight: 600;
}
main section.visionary .info h5 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    font-family: 'Noto Sans JP', sans-serif;
}
main section.visionary .info p {
    margin-bottom: 1rem;
    font-weight: 300;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: .8rem;
}
main section.visionary .info a {
    background-color: #BD8276;
    padding: .5rem 1rem;
    margin-top: 2.23rem;
    border-radius: 5px;
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
    display: block;
    width: 30%;
    font-size: 1rem;
}
main section.visionary img {
    margin-top: 1.5rem;
    height: 611px;
    padding-top: 3.1rem;
}
/* end of visionary */
/* curriculum vitae section */
main section.curriculum {
    background-color: #000;
    color: #fff;
}
main section.curriculum div#curriculum {
    display: flex;
    justify-content: space-around;
}
main section.curriculum div#curriculum .curriculum-info {
    margin: 2rem auto;
    width: 45%;
    padding: 2rem 6rem;
}
main section.curriculum div#curriculum .curriculum-info h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
main section.curriculum div#curriculum .curriculum-info p {
    margin-bottom: 2.3rem;
    font-weight: 300;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: .8rem;
}
main section.curriculum div#curriculum .curriculum-info .info-group {
    display: flex;
    margin-bottom: 1rem;
}
main section.curriculum div#curriculum .curriculum-info .info-group div {
    padding-left: 1rem;
}  
div#curriculum .curriculum-info .info-group div h4 {
    font-size: 1.6rem;
    font-weight: 500;
}
div#curriculum .curriculum-info .info-group div h5 {
    font-size: 1.1rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}
div#curriculum .curriculum-info .info-group div h6 {
    font-weight: 300;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: .8rem;
    padding: .5rem 0;
}
div#curriculum .curriculum-info .info-group div a  {
    color: #fff;
    text-decoration: none;
}
div#curriculum .curriculum-info .info-group i {
    margin-top: .5rem;
}
div#curriculum img {
    width: 100%;
    height: 100%;
}
.curriculum-img {
    width: 55%;
}
/* End of curriculum */
/* SERVICES section */
section.services .service-box {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 4rem;
}
section.services h1 {
    text-align: center;
    color: #BD8276;
    padding: 3rem;
    font-size: 2rem;
    font-family: "San Serif";
    font-weight: 600;
}
section.services .services-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
section.services .service-grid {
    display: grid;
    grid-template-columns: 1.8fr 3fr .5fr;
    word-wrap: break-word;
    /* word-break: break-all; */
}
section.services .services-column h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-family: "San Serif";
    font-weight: 600;
}
section.services .service-grid div:nth-of-type(1) {
    text-transform: uppercase;
    padding: 0.6rem;
    background: #000;
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
}
section.services .service-grid div:nth-of-type(2) {
    background: lightgrey;
    position: relative;
}
section.services .service-grid div:nth-of-type(2)::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 64%;
    background-color: #BD8276;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
}
#w-100::after {
    content: "";
    width: 100%;
}
#w-90::after {
    content: "";
    width: 90%;
}
#w-70::after {
    content: "";
    width: 70%;
}
#w-50::after {
    content: "";
    width: 50%;
}
#w-30::after {
    content: "";
    width: 30%;
}
section.services .service-grid div:nth-of-type(3) {
    text-align: center;
    background: lightgray;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* end of services */
/* portfolio section */
main section.portfolio {
    background-color: #181818;
    color: #BD8276;
    padding-bottom: 4rem;
}
main section.portfolio h3 {
    text-align: center;
    padding: 3rem;
    font-size: 2rem;
    font-family: "San Serif";
    font-weight: 600;
}
main section.portfolio h5 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Noto Sans JP', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 19px;
}
.img-1 {grid-area: img1;}
.img-2 {grid-area: img2;}
.img-3 {grid-area: img3;}
.img-4 {grid-area: img4;}
.img-5 {grid-area: img5;}
.img-6 {grid-area: img6;}
main section.portfolio .portfolio-img {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    width: 50%;
    margin: 0 auto;
    grid-gap: 5px;
    grid-template-areas: 'img1 img1 img2' 
                         'img1 img1 img3'
                         'img4 img5 img6'
}
main section.portfolio .web-portfolio {
    width: 50%;
    margin: 0 auto;
}
main section.portfolio .web-portfolio h5 {
    padding: 2rem;
}
main section.portfolio .web-portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}
main section.portfolio .web-portfolio-grid img {
    width: 100%;
}

main section.portfolio .portfolio-img img {
    width: 100%;
    height: auto;
}
/* end of portfolio */
/* Contact section */
main section.contact {
    background-color: #BD8276;
    color: #fff;
    padding: 1rem;
}
main section.contact #contact {
    width: 60%;
    margin: 2rem auto;
}

main section.contact #contact h3 {
    color: #000;
    font-size: 2rem;
    font-weight: 650;
    margin-bottom: 2rem;
    text-align: center;
    font-family: "San Serif";
    font-weight: 600;
}
main section.contact #contact p {
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
    color: #000;
}
main section.contact #contact form {
    margin-top: 3rem;
}
main section.contact #contact input, textarea {
    display: block;
    margin: 1rem auto;
    background: #fff;
    border: 1px solid #fff;
    padding: .8rem 1rem;
    width: 100%;
}
textarea::placeholder {
    font-family: 'Noto Sans JP', sans-serif;
    counter-reset: #000;
}
main section.contact #contact button {
    background-color: #000;
    padding: .5rem 1rem;
    margin-top: 2.23rem;
    border-radius: 5px;
    display: block;
    width: fit-content;
    margin: 0 auto;
    border: none;
    color: #fff;
}


.navbar-nav a {
    font-family: "san-serif";
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.navbar-nav a:hover, .burgermenu a:hover {
    color: #BD8276;
}
@media screen and (max-width:1000px) {
    .burgermenu {
        margin-left: 0;
    }
    main section.hero div h1 {
        font-size: 2.4rem;  
    }
    main section.hero {
        padding-top: 10rem;
    }
    main section.curriculum div#curriculum .curriculum-info .info-group div {
        padding-left: .5rem;
    } 
    main section.curriculum div#curriculum img {
        display: none;
    } 
    main section.curriculum div#curriculum .curriculum-info {
        margin-left: 20rem;
    }

}
@media screen and (max-width:900px) {
    header nav ul {
        display: none;
    }
    header nav {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    main section.hero div h1 {
        font-size: 2.4rem;
        padding-bottom: 3rem;
    }
    main section.visionary img {
        display: none;
    }
    main section.curriculum div#curriculum .curriculum-info {
        margin-left: 8rem;
    }
    .curriculum-img {
        width: 0;
    }
    section.services .services-column {
        display: block;
    }
    section.services .services-column h3 {
        margin-top: 25px;
    }
    section.services h1 {
        padding-bottom: 0;
    }
    main section.portfolio .web-portfolio h5 {
        margin-bottom: 0;
    }
    main section.visionary .info a {
        width: 60%;
        margin: 1.23rem auto;
    }
    main section.visionary .info p {
        text-align: center;
    }
    main section.portfolio .web-portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
